*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Baloo Bhaijaan 2', cursive;
}

body {
	font-size: 16px;
}

.super {
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items:flex-start ;
	justify-content: center;
	flex-direction: column;
}
.nav {
	height: 80px;
	width: 100vw;
	background: teal;
	font-size: 2.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.main {
	height: calc(100vh - 80px);
	width: 100vw;
	/* background: url(../assets/1.jpg); */
	position: relative;

}

.main img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -10;
}
.btns {
	min-width: 300px;
	display: flex;
	align-items:flex-end;
	justify-content:space-evenly;
	min-height: 300px;
	/* flex-direction: column; */
	border: 0px solid;
}
.btn{
	height: 90px;
	width: 190px;
	font-size: 1.5rem;
	padding: 10px 10px;
	border-radius:6px ;
	color: white;
	border: 2px solid white;
	/* background: linear-gradient(90deg, rgb(53, 0, 0), rgb(255, 132, 132)); */

}
.btns button:nth-child(1){
	background: linear-gradient(90deg, rgb(185, 0, 185), rgb(6, 0, 58));
}
.btns button:nth-child(2){
	background: linear-gradient(90deg,rgb(6, 0, 58),  rgb(185, 0, 185));
}

.watch{
	display: none;
	width: 100vw;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
}
.urlInp {
	font-size: 2rem;
	min-width: 200px;
	min-height: 80px;
	margin: 15px;
	text-align: center;
}
